# Data Types and Structure Question

1. **What are data structure , and why are they imporatant?**
   = Data structure are ways of organizing and storing data efficiently. They are important because they enable quick data retrival,manipulation and efficient use of memory.

**2. Explain the difference between mutable and immutable data types with examples**
= The difference betwwen mutable and immutable is the mutable value can be changed and modify e.g. Lists. In another hand immutable object cannot be changed and modify after creation e.g.Tuple.

**3.What are the main difference between lists and tuples in python**
= The main difference between lists and tuple is list can be changed and modify after creation list use [ ] bract.  but tuple cannot changed and modify its value tuple use (parenthesis).

**4. Describe how dictionary store data.**
=  A dictionat (dict) in python stores data in key-value pairs using hash tables.

**5. Why might you use a set instead of a list in python**
= Set has unique advantage in certain situation for e.g. set automatically remove duplicate elements in other hand list allow duplicate elements.

**6. What is a string in python and how it is different from a list**
= A string is a sequence of charater enclosed by quotes('or"). The difference between string and lists is string is immutable it cannot change individual characters but list is mutable and it can modify its elements.

**7. How to tuples ensure data integrity in Python.**
= A tuple is a immutable data structure, meaning its value can not be changed after creation. This immutable help maintain data integrity in python.

**8.What is a hash table , and how dooes it relate to dictionaries in Python**
= A hash table is a data structure that stroes key value pairs using a hashing function to map key to unique memory location. it allows for fast data retrival(0(1))average time complexity.

**9.Can lists contain different daya types in Python.**
=  Yes.

**10. Explain why strings are immutable in Python.**
=  String is immutable because if string is once created ut cannot be chaged. if u modify a stgring it creates a new string instead of changing the orginal string.

**11. What advantages do dictionary offer over lists  for certain tasks.**
= Dictionary offer several advantage in specific tasks for e.g. Faster lookpus, Key value pairing, No need for index based searching, more efficient for large data sets and  Flexibility in Data storage.

**12. Descibe a senario where using a tuple would be preferableover a list.**
= Suppose you are building a mapping application where you need to store geographical coordinates  (latitude,longitude)
the feature of tuple which is immutability help  data to to coordinates dont change, so using a tuple ensures the data intergrity, tuples are faster and use less memory then lists.

**13. How to set handle duplicate values in python**
=  In python set automatically remove the duplicate values beacuse they are unordered collections of unique elements.

**14. How does "in" keyword work differently for lists and dictionaries.**
= The "in" keyword is used to check the membership in both lists and dictionaries but it behave differently "in" with lists search elements but "in" with  dictionaries search keys not values.

**15. Can you modify the elements of a tuple? Explain why or why not.**
= NO,
     Elements of tuple cannot be changed because tuple is immutable it cannot be changed and modity to ensure the data integrity.

**16. What is a nested dictionary,and give a example of its use case?**
=  A nested dictionary is a dictionary inside a dictionary. The example of its use case is a school data base where each students has their own dictionary conating details like name,age,and subjects.

**17. Describe a time complexity of accessing elements in a dictionary. ***
=  Time complexity of accessing elements in dictionaries are Dictionaries use a hash table , So looking up a key is fast. python computes the hash of the key and directly find the value without searching.

**18. In what situation are lists preffered over dictionaries?**
=   Although dictionaries are fastsvfor lookups lists are better in certain cases for e.g. Maintaining order,Storing sequential Data, Index based access,Duplicates are allowed and When memory usage matters.

**19. Why are dictionaries considered unordered,and how does that affect  data retrival?**
= Before python 3.7 dictionaries are unordered meaning elements were stored randomly in memory. it effect in insertation order preserved and iteration order predictable.

**20. Explain the difference between a lists and a dictionary in terms of data retrival.**
= The difference between the list and dictionary in terms od data retrival are as follow:
list = Uses indexing(list[index]),lookup speed O(n) (slow if searching a value)
Flexibility, Duplicate handles and less memory usuage.

dictionary = Uses key(dict[key]),lookup speed O(1) (Fast due to hashing), Key value pairs more structured, Duplicate are not allows key must be unique.

# Pratical question

In [ ]:
#1. Write a code to create a string with your name and print it.
name = "Dev"
print(name)

Dev

In [ ]:
#2. Write a code to find the length of string "Hello World".
a = ("Hello World")
print(len(a))

11

In [ ]:
#3. Write a code to slice the first 3 characters from the string"Python Programming".
a = ("Python Programming")
a[0:3]

'Pyt'

In [ ]:
#4.Write a code to convert the string"hello" to uppercase.
string = "Hello"
print(string.upper())

HELLO

In [ ]:
#5. Write a code to replace the word "apple" with "orange" in the string "i like apple"
string = "i like apple"
print(string.replace("apple","orange"))

i like orange

In [ ]:
#6. Write a code to create a list with number 1 to 5 and print it.
list = [1,2,3,4,5]
print(list)

[1, 2, 3, 4, 5]

In [ ]:
#7. Write a code to append the number 10 to the listp[1,2,3,4]
list1 = [1,2,3,4]
list1.append(10)
print(list1)

[1, 2, 3, 4, 10]

In [ ]:
#8. Write a code to remove thenumber 3 from the list[1,2,3,4,5]
a = [1,2,3,4,5]
a.remove(3)
print(a)

[1, 2, 4, 5]

In [ ]:
#9. Write a code to access the second elements in the list['a','b','c','d']
a = ['a','b','c','d']
print(a[1])

b

In [ ]:
#10. Write a code to reverse the list [10,20,30,40,50]
a = [10,20,30,40,50]
a.reverse()
print(a)

[50, 40, 30, 20, 10]

In [ ]:
#11. Write a code to create a tuple with the elements 100,200,300 and print it.
b = (100,200,300)
print(b)

(100, 200, 300)

tuple

In [ ]:
#12. Write a code to access the second-to-last elements of the tuple('red','green','blue','yellow)
tuple = ('red','green','blue','yellow')
print(tuple[-2])

blue

In [ ]:
#13. Write a code to find the minimum number in the tuple(10,20,5,15)
number = (10,20,5,15)
print(min(number))

5

In [ ]:
#14. Write a code to find the index of elements "cat" in the tuple ('dog','cat','rabbit')
elements = ('dog','cat','rabbit')
print(elements.index('cat'))

1

In [ ]:
#15. Write a code to create a tuple contaning three different fruits and chcek if"kiwi" is in it
fruit = ("mango","apple","kiwi")
print("kiwi"in fruit)

True

In [ ]:
#16. Write a code to create a set with the elements 'a','b','c' and print it.
myset = {'a','b','c'}
print(myset)

{'b', 'a', 'c'}

In [ ]:
#17. Write a code to clear all the elements  from the set{1,2,3,4,5}
set1 = {1,2,3,4,5}
set1.clear()
print(set1)

set()

In [ ]:
#18. Write a code to remove the elements 4  from the set{1,2,3,4,5}
set2 = {1,2,3,4,5}
set2.remove(4)
print(set2)

{1, 2, 3, 5}

In [ ]:
#19. Write a code to find the union of the two set{1,2,3}and{3,4,5}
set1 = {1,2,3}
set2 = {3,4,5}
print(set1.union(set2))

{1, 2, 3, 4, 5}

In [ ]:
#20. Write a code to find the intersection of two sets {1,2,3}and {2,3,4}
set1 = {1,2,3}
set2 = {2,3,4}
print(set1.intersection(set2))

{2, 3}

In [ ]:
#21. Write a code to  create a dictionary with key"name""age", and "city"and print it.
student = {"name":"Fred","age":17,"city":"London"}
print(student)

{'name': 'Fred', 'age': 17, 'city': 'London'}

In [ ]:
#22.Write a code to add a new key  value pair"country":"usa" to the dictionary {'name':'jhon','age':25}
dic = {'name':'jhon','age':'25'}
dic["country"]="usa"
print(dic)

{'name': 'jhon', 'age': '25', 'country': 'usa'}

In [ ]:
#23.Write a code to access the value associated with the key "name" in the dictionary {'name':'Alice','age':30}
dic1 = {'name':'Alice','age':'30'}
name_value = dic1['name']
print(name_value)

Alice

In [ ]:
#24. Write a code to remove  the key 'age' from the dictionary{'name':'Bob','age':'22','city':'New York'}
person = {'name':'Bob','age':'22','city':'New york'}
del person['age']
print(person)

{'name': 'Bob', 'city': 'New york'}

In [ ]:
#25. Write a code to check if the key "city"exists in the dictionary {'name':'Alice','city':'paris'}
dic = {'name':'Alice','city':'Paris'}
print('city' in dic)

True

In [ ]:
#26. Write a code to create a list, a tuple, and a dictionary,and print them all.
list1 = [1,2,3,4,5]
tuple1 = (6,7,8)
dict1 = {'a':'2','b':'c'}
print(list1,tuple1,dict1)

[1, 2, 3, 4, 5] (6, 7, 8) {'a': '2', 'b': 'c'}

In [ ]:
#27. Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order , and print the result.(replaced)
import random
numbers = random.sample(range(1,101),
                        5)
numbers.sort()
print(numbers)

[11, 29, 52, 66, 68]

In [ ]:
#28. Write a code to create a list with strings and print the elements at the third index.
create = ['mazza','ajay','aple','tuborg']
print(create[3])

tuborg

In [ ]:
#29. Write a code to combine two dictionaries into one and print the result.
dict1 = {"a": 1, "b":2}
dict2 = {"c": 3, "d":4}
combined_dict = {**dict1,**dict2}
print(combined_dict)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [ ]:
#30. write a code to convert a list of strings into a set.
list1 = ["hello","bye","wipe"]
list1_set = set(list1)
print(list1_set)

{'wipe', 'hello', 'bye'}